h1
{
    font-size:50pt;
    font-family: 'Bodoni';
    text-align:center;
}
.div
{
    font-size:18pt;
    font-family:Courier;
    text-align: center;
}
.div2
{
    font-size:18pt;
    font-family:Courier;
    float:left;
    margin: 2px;
    transform: translate(0px, 2000px);
}
#bored
{
    background-color:lightgreen;
    font-size:18pt;
}
#bob
{
    text-align:center;
    border:2px solid red;
    color:blue;
}
.div3
{
    margin:20px;
    padding:20px;
    text-align:center;
}
end
{
    transform: translate(500px,0px);
}